/* Styles de base */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #191970; /* Fond bleu nuit */
  color: #006400; /* Couleur du texte en vert foncé */
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  border: 3px solid navy; 
  padding: 5px; 
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.card-white {
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styles pour le texte et les titres */
h1 {
  font-family: 'Comic sans Ms', serif;
  font-size: 28px;
  color: #007BFF; /* Bleu foncé */
  margin: 0 auto; /* Centrez le texte horizontalement */
  margin-bottom: 20px;
  text-align: center; /* Centrez le texte horizontalement */
}

h2 {
  font-size: 24px;
  color: #007BFF; /* Bleu foncé */
  margin: 0 auto; /* Centrez le texte horizontalement */
  text-align: center; /* Centrez le texte horizontalement */
  margin-top: 20px;
}

p {
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: center; /* Centrez le texte horizontalement */
}

/* Styles pour les images */
img.img-circle {
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  margin: 0 auto; /* Pour centrer l'image horizontalement */
  width: 250px; /* Ajustez la largeur souhaitée */
  height: 250px; /* Ajustez la hauteur souhaitée (en gardant la même valeur pour maintenir un cercle) */
  object-fit: cover; /* Conserver la forme naturelle du contenu */
}

/* Styles pour centrer le lien */
.centered-link {
  display: block;
  margin: 0 auto;
  text-align: center;
}

/* Styles pour les liens sociaux */
.list-inline {
  list-style: none;
  padding: 0;
  text-align: center;
}

.list-inline li {
  display: inline;
  margin-right: 10px;
}

.list-inline a {
  text-decoration: none;
  color: #191970; /* Couleur des liens en bleu nuit */
  font-size: 24px;
font-size: 75px;
}